.wpez-qs-elements{
    display: none;
}

body:not(.wpez-qs-overlay-open-true) .wpez-qs-overlay{
    display: none
}



body.wpez-qs-overlay-open-true .wpez-qs-overlay{
  z-index: 100;
  background-color: red;
  position: fixed;
  overflow:scroll;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 15px
}

body.wpez-qs-overlay-open-true{
  overflow: hidden;
}

.wpez-qs-overlay .wpez-qs-to-canvas blockquote{
    padding: 0;
    margin: 0
}

.wpez-qs-overlay .wpez-qs-to-canvas .wpez-qs-share-wrap{
    display: none
}

.wpez-qs-overlay .wpez-qs-to-canvas .wpez-qs-site-wrap{
  position: absolute;
  right: 100px;
  bottom: 0;
  left: 100px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 35px;
  text-align: center;
  font-weight: bold;
  padding-top: .35rem;
  border-top: 1px solid white;
  height: 70px;
  line-height: 1.0;
}

.wpez-qs-overlay .wpez-qs-to-canvas .wpez-qs-site-tagline{
  font-size: 20px;
  font-weight: normal;
}

.wpez-qs-overlay .wpez-qs-to-canvas .wpez-qs-source{
    position: absolute;
    right: 100px;
    bottom: 72px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
}

.wpez-qs-overlay.wpez-qs-cite-display-none-true .wpez-qs-to-canvas cite{
    display: none
}

#wpez-h2c,
.wp-block-quote,
.wp-block-pullquote{
  position: relative;
}

.wpez-qs-overlay .wp-block-pullquote blockquote:before{
  content: none
}

.wpez-qs-share-wrap button{
    padding: 5px;
    background-color: transparent;
    border-color: white;
    font-weight: normal;
}

.wpez-qs-share-wrap button:hover{
    background-color: green;
}

.wpez-qs-hero .wpez-qs-share-wrap,
.wp-block-quote .wpez-qs-share-wrap,
.wp-block-pullquote .wpez-qs-share-wrap{
  font-size: 1.0rem;
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
}

 .wpez-qs-share-wrap .wpez-qs-networks-wrap{
   margin-right: 0.75rem
 }

 
.wpez-qs-share-wrap.wpez-qs-networks-display-false .wpez-qs-networks-wrap{
  animation: wpez-qs-fade-out 0.5s;
  z-index: -100;
  opacity: 0;
}

@keyframes wpez-qs-fade-out {
  0% {
    z-index: 100;
    opacity: 1;
  }
  100% {
    z-index: -100;
    opacity: 0;
  }
}

 .wpez-qs-share-wrap:not(.wpez-qs-networks-display-false) .wpez-qs-networks-wrap{
  animation: wpez-qs-fade-in 0.75s;
}

@keyframes wpez-qs-fade-in {
  0% {
    opacity: 0;
    z-index: 100;
  }
  100% {
    opacity: 1;
  }
}

.wpez-qs-overlay .wpez-qs-to-canvas{
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #ffffff;
}

.wpez-qs-overlay .wpez-qs-to-canvas p,
.wpez-qs-overlay .wpez-qs-to-canvas cite{
    color: white;
    opacity: 1;
    font-size: 1.4em;
}

.wpez-qs-overlay .wpez-qs-to-canvas cite{
    margin-top: 1.0em;
}

.wpez-qs-overlay .wpez-qs-to-canvas blockquote p:only-of-type,
.wpez-qs-overlay .wpez-qs-to-canvas blockquote p:last-of-type{
   margin-bottom: 0
}

.wpez-qs-overlay .wpez-qs-to-canvas cite:before{
    content: '\2014 ';
    margin-right: .5rem

}

.wpez-qs-overlay.wp-block-pullquote .wpez-qs-to-canvas cite{
    text-align: right;
}

.wpez-qs-overlay.wp-block-pullquote .wpez-qs-to-canvas{
    background-image: url("left-quote.svg");
    background-repeat: no-repeat;
    background-position: top 30px left 60px;
    background-size: 20%;
}

.wpez-qs-overlay.wp-block-quote .wpez-qs-to-canvas .wp-block-quote,
.wpez-qs-overlay.wp-block-pullquote .wpez-qs-to-canvas figure{
    border: none;
    width: 100%;
}

.wpez-qs-overlay .wpez-qs-to-canvas blockquote{
    margin-bottom: 75px; /* "offset" for the footer branding */
    letter-spacing: -.05rem;
}

.wpez-qs-overlay .wpez-qs-to-canvas blockquote p{
    line-height: 1.2;
}

.wpez-qs-overlay .wpez-qs-to-canvas figure{
    background-color: transparent;
    margin-bottom: 0;
}

.wpez-qs-overlay .wpez-qs-to-canvas{
    color: white;
    overflow: hidden;
    padding: 0 100px 0 100px
}

body.wpez-qs-overlay-open-true .wpez-qs-overlay .wpez-qs-networks-wrap,
body.wpez-qs-overlay-open-true .wpez-qs-overlay .wpez-qs-controls{
  font-size: 85%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.wpez-qs-overlay .wpez-qs-networks-wrap button,
.wpez-qs-overlay .wpez-qs-controls button{
  font-weight: normal;
  border-color: #ffffff;
  background-color: transparent;
  padding: 5px 10px;
}

.wpez-qs-overlay .wpez-qs-controls button:hover{
    background-color: #000000;
}

body.wpez-qs-overlay-open-true .wpez-qs-overlay[data-active="feed_ig"] .hero-wrapper.wpez-qs-hero,
body.wpez-qs-overlay-open-true .wpez-qs-overlay[data-active="feed_pin"] .hero-wrapper.wpez-qs-hero{
  margin-right: 0;
  margin-left: 0;
}

body.wpez-qs-overlay-open-true .wpez-qs-overlay[data-active="feed_fb"] button[data-size="feed_fb"]{
  background-color: #000000;
}

body.wpez-qs-overlay-open-true .wpez-qs-overlay[data-active="feed_ig"] button[data-size="feed_ig"]{
  background-color: #000000;
}

body.wpez-qs-overlay-open-true .wpez-qs-overlay[data-active="feed_li"] button[data-size="feed_li"]{
  background-color: #000000;
}

body.wpez-qs-overlay-open-true .wpez-qs-overlay[data-active="feed_pin"] button[data-size="feed_pin"]{
  background-color: #000000;
}

body.wpez-qs-overlay-open-true .wpez-qs-overlay[data-active="feed_tw"] button[data-size="feed_tw"]{
  background-color: #000000;
}

body.wpez-qs-overlay-open-true .wpez-qs-overlay[data-active="story"] button[data-size="story"]{
  background-color: #000000;
}


body.wpez-qs-overlay-open-true .wpez-qs-overlay.wpez-qs-hero .hero-wrapper {
    font-size: 1em;
    overflow: visible;
    height: auto;
    padding: unset;
    position: unset;
    width: unset;
    left: unset;
    right: unset;
    margin-left: unset;
    margin-right: unset;
    margin: 0 7% 75px 7%;
}

body.wpez-qs-overlay-open-true.has-scrolled40 .wpez-qs-overlay.wpez-qs-hero .hero-wrapper {
  background-color: transparent;
  background-image: none;
}

body.wpez-qs-overlay-open-true .wpez-qs-overlay.wpez-qs-hero .hero-wrapper .entry-header {
     position: relative;
     margin-bottom: 0;
    /* top: 50%; */
    -webkit-transform: unset;
    -ms-transform: unset;
    transform: unset;
    transition: unset;
    right: unset;
    left: unset;
    width: unset;
    margin-left: unset;
    padding: unset;
    animation-name: unset;  
 }

 body.wpez-qs-overlay-open-true.has-scrolled40 .wpez-qs-overlay.wpez-qs-hero .hero-wrapper .entry-header {
   opacity: 1;
   top: unset;
   -webkit-transition: unset;
   -o-transition: unset;
   transition: unset;
 }

 body.wpez-qs-overlay-open-true .wpez-qs-overlay.wpez-qs-hero .hero-wrapper .entry-title{
     font-size: 2.75em;
 }

body.wpez-qs-overlay-open-true .wpez-qs-overlay.wpez-qs-hero .hero-wrapper .au-tagline{
    display: none
}


.wpez-qs-overlay[data-active="feed_fb"] .wpez-qs-to-canvas{
    width: 1200px;
    height: 630px;
}

.wpez-qs-overlay[data-active="feed_ig"] .wpez-qs-to-canvas{
    width: 1080px;
    height: 1080px;
}

.wpez-qs-overlay[data-active="feed_li"] .wpez-qs-to-canvas{
    width: 1200px;
    height: 627px;
}

.wpez-qs-overlay[data-active="feed_pin"] .wpez-qs-to-canvas{
    width: 1000px;
    height: 1500px;
}

.wpez-qs-overlay[data-active="feed_tw"] .wpez-qs-to-canvas{
    width: 1600px;
    height: 900px;
}

.wpez-qs-overlay[data-active="story"] .wpez-qs-to-canvas{
    width: 1080px;
    height: 1920px;
}

.wpez-qs-to-canvas.style-1{
  font-size: 1em;
}
.wpez-qs-to-canvas.style-2{
  font-size: 1.25em;
}
.wpez-qs-to-canvas.style-3{
  font-size: 1.5em;
}
.wpez-qs-to-canvas.style-4{
  font-size: 1.75em;
}

.wpez-qs-to-canvas.style-5{
  font-size: 2em;
}
.wpez-qs-to-canvas.style-6{
  font-size: 2.25em;
}
.wpez-qs-to-canvas.style-6 cite,
.wpez-qs-to-canvas.style-7 cite,
.wpez-qs-to-canvas.style-8 cite,
.wpez-qs-to-canvas.style-9 cite,
.wpez-qs-to-canvas.style-10 cite,
.wpez-qs-to-canvas.style-11 cite,
.wpez-qs-to-canvas.style-12 cite,
.wpez-qs-to-canvas.style-13 cite,
.wpez-qs-to-canvas.style-14 cite,
.wpez-qs-to-canvas.style-15 cite,
.wpez-qs-to-canvas.style-16 cite,
.wpez-qs-to-canvas.style-17 cite,
.wpez-qs-to-canvas.style-18 cite,
.wpez-qs-to-canvas.style-19 cite,
.wpez-qs-to-canvas.style-20 cite,
.wpez-qs-to-canvas.style-21 cite,
.wpez-qs-to-canvas.style-22 cite,
.wpez-qs-to-canvas.style-23 cite,
.wpez-qs-to-canvas.style-24 cite{
  font-size: 45px;
}
.wpez-qs-to-canvas.style-7{
  font-size: 2.5em;
}
.wpez-qs-to-canvas.style-8{
  font-size: 2.75em;
}

.wpez-qs-to-canvas.style-9{
  font-size: 3em;
}
.wpez-qs-to-canvas.style-10{
  font-size: 3.25em;
}
.wpez-qs-to-canvas.style-11{
  font-size: 3.5em;
}
.wpez-qs-to-canvas.style-12{
  font-size: 3.75em;
}

.wpez-qs-to-canvas.style-13{
  font-size: 4em;
}
.wpez-qs-to-canvas.style-14{
  font-size: 4.25em;
}
.wpez-qs-to-canvas.style-15{
  font-size: 4.5em;
}
.wpez-qs-to-canvas.style-16{
  font-size: 4.75em;
}

.wpez-qs-to-canvas.style-17{
  font-size: 5em;
}
.wpez-qs-to-canvas.style-18{
  font-size: 5.25em;
}
.wpez-qs-to-canvas.style-19{
  font-size: 5.5em;
}
.wpez-qs-to-canvas.style-20{
  font-size: 5.75em;
}

.wpez-qs-to-canvas.style-21{
  font-size: 6em;
}
.wpez-qs-to-canvas.style-22{
  font-size: 6.25em;
}
.wpez-qs-to-canvas.style-23{
  font-size: 6.5em;
}
.wpez-qs-to-canvas.style-24{
  font-size: 6.75em;
}



